{% extends "layout.html" %}
{% block title %}{{ this.name }} ({{ this.date.year }}){% endblock %}
{% block body %}

<div class="text-center">
  <h1>{{ this.name }}</h1>

  <dl>
    <dt>Musculo principal del ejercicio</dt>
    <dd>{{ this.type }}</dd>
  </dl>

</div>
<div class="text-center">
  {% set images = this.attachments.images.all() %}
  {% if images %}
    {% for image in images %}
      <div class="image">
        <img src="{{ image.thumbnail(600)|url }}" alt="">
        {% if image.exif %}
        <p class=meta>
          {{ image.exif.camera }}
          {% if image.exif.created_at %}
            ({{ image.exif.created_at|dateformat }})
          {% endif %}
        {% endif %}
      </div>
    {% endfor %}
  {% endif %}
  <h2>Descripcion</h2>
  <div class="container-fluid">{{ this.description }}</div>
</div>

{% endblock %}